.progress-container{
    height: 30px;
    width: 85%;
}

.progress-bar{
    background-color: #118bee;
    font-size: 20px;
    height: 30px;
    border-radius: 5px;
}

.progress-points{
    padding-left: 5px;
}